.header {
  background: #AB2A19;
  height: 10vh;
  width: 100vw;
  color: white;
  display: flex; 
  align-items: center;
  margin: 0 0 4vh 0;
}
.shelfie-logo {
  height: 5vh;
  width: auto;
  margin-left: 3vw;
}
.flexin {
  display: flex;
  flex-direction: row;
}
.dashboard {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
.form {
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.green-box {
  height: 60vh;
  width: 45vh;
  background: #3AD886;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no-image {
  height: 20vh;
  width: auto;
}
.inventoryItems {
  background: #D34735;
  height: auto;
  width: 30vw;
  border: solid black 2px;
  margin: 3vh 0 0 0;
}
.flexinInven {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}